.containerDiv{
    width:300px;
    height:400px;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-self: center;


    .imageDiv{
        width: 300px;
        height:75%;
        position:relative;
        .heartIcon{
            position:absolute;
            top:15px;
            right:15px;
            font-size: 30px;
            cursor: pointer;
            &:hover{
                font-size: 40px;
                top:10px;
                right:10px;
            }
        }
    }
    .detailsDiv{
        width:100%;
        height:25%;
        display: flex;
        flex-direction: column;
        gap:10px;
        position: relative;
        .nameTitle{
            color:gray;
            width:250px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
        }
        .statusDiv{
            width:100%;
            display:flex;
            flex-direction: row;
            gap:10px;
            .statusSpan{
                height:20px;
                aspect-ratio: 1;
                border-radius: 10px;
                background-color: red;
            }
        }
        .dimensionDiv{
            width:100%;
            
        }
        .speciesandGenderDiv{
            position: absolute;
            bottom:0px;
            right:0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            small{
                display:flex;
                flex-direction: row;
            }

        }
    }
}
@media screen and (max-width:300px) {
    .containerDiv{
        width:100%;
        aspect-ratio: 2/3;
        .imageDiv{
        }
        .detailsDiv{
        }
    }
    
}